<main class="tracker">
  <section class="tracker__form">
    <h1 class="tracker__form--heading">IP adress Tracker</h1>
    <div class="tracker__form--action">
      <input
        type="text"
        class="tracker__form--input"
        placeholder="Search for any IP adress or domain"
        [(ngModel)]="inputValue"
        (keydown.enter)="logData()"
      />
      <button class="tracker__form--btn" type="button" (click)="logData()">
        <span class="tracker__form--arrow"></span>
      </button>
    </div>
    <div class="tracker__results">
      <ul class="tracker__results--list">
        <li class="tracker__results--card">
          <p class="tracker__results--type">IP ADDRESS</p>
          <p class="tracker__results--data">192.212.174.101</p>
        </li>
        <div class="separator"></div>
        <li class="tracker__results--card">
          <p class="tracker__results--type">LOCATION</p>
          <p class="tracker__results--data">Brooklyn, NY 10001</p>
        </li>
        <div class="separator"></div>
        <li class="tracker__results--card">
          <p class="tracker__results--type">TIMEZONE</p>
          <p class="tracker__results--data">UTC -05:00</p>
        </li>
        <div class="separator"></div>
        <li class="tracker__results--card">
          <p class="tracker__results--type">ISP</p>
          <p class="tracker__results--data">SpaceX Starlink</p>
        </li>
      </ul>
    </div>
  </section>
  <section id="map" class="tracker__map"></section>
</main>
